<div class="container mx-auto p-4">
    <div class="flex justify-end mb-4">
      <!-- <button class="bg-blue-400 text-white px-4 py-2 rounded mr-2" (click)="navigateToCreateTrainingSheet()">
        Crear Ficha de Entrenamiento
      </button> -->
      <button class="bg-blue-500 text-white px-4 py-2 rounded mr-2" (click)="toggleEdit()">Modificar cita</button>
      <button class="bg-red-500 text-white px-4 py-2 rounded" (click)="confirmDelete()">Eliminar cita</button>
    </div>
  
    <div class="bg-white shadow-md rounded-lg p-6">
      <p class="text-lg font-bold mb-4">Detalles de la cita</p>
      <div class="grid grid-cols-2 gap-x-8 gap-y-2">
        <p class="text-gray-600">Fecha y hora:</p>
        <!-- <p>{{ appointment.date | date: "medium" }}</p> -->
        <p class="text-gray-600">Nombre paciente:</p>
        <p>{{appointment.patient.personalInformationDto.name}}</p>
        <p class="text-gray-600">Apellido paciente:</p>
        <p>{{appointment.patient.personalInformationDto.surname}}</p>
        <p class="text-gray-600">Documento paciente:</p>
        <p>{{appointment.patient.personalInformationDto.document}}</p>
        <p class="text-gray-600">Nombre doctor:</p>
        <p>{{appointment.doctor.personalInformationDto.name}}</p>
        <p class="text-gray-600">Apellido doctor:</p>
        <p>{{appointment.doctor.personalInformationDto.surname}}</p>
        <p class="text-gray-600">Documento doctor:</p>
        <p>{{appointment.doctor.personalInformationDto.document}}</p>
       <!--  <p class="text-gray-600">Tipo de Entrenamiento:</p>
        <p>{{ appointment.trainingTypeRecord }}</p> -->
      </div>
    </div>
  
    <div *ngIf="isEditing" class="mt-6">
      <form [formGroup]="appointmentForm" (ngSubmit)="saveChanges()">
        <div class="mb-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="mb-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Hora</mat-label>
            <input matInput type="time" formControlName="time">
          </mat-form-field>
        </div>
  
        <div class="mb-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Selecciona un doctor</mat-label>
            <mat-select formControlName="doctorId" (selectionChange)="onDoctorsSelected($event)">
              <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
                {{ doctor.personalInformationDto.name }} {{ doctor.personalInformationDto.surname }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="flex justify-end">
          <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" (click)="toggleEdit()">Cancelar</button>
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar Cambios</button>
        </div>
      </form>
    </div>
    <!-- Botón Back justo debajo de la tabla, alineado a la derecha -->
   <div class="flex justify-end mt-4">
    <app-go-back-button></app-go-back-button>
  </div>
  </div>
